body {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.section {
    flex: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    text-align: center;
}

h1, h2, label {
    text-align: center;
}

input[type="radio"], input[type="text"], button {
    display: inline-block;
}

h1, h2 {
    color: #444;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin-bottom: 10px; /* To give space between the inputs */
}

input[type="text"], textarea {
    width: 80%; /* or any other percentage or fixed value */
    margin-left: auto;
    margin-right: auto;
    display: block; /* ensures they are block-level and respect the auto margins */
}

input[type="radio"] {
    display: inline-block;
    margin-right: 15px;
}

input[type="radio"]:last-of-type {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#methodSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-container input[type="radio"] {
    margin: 0 10px; /* Adjust spacing between the radio buttons if necessary */
}


button:hover {
    background-color: #0056b3;
}

#loading {
    display: none;
    color: #007BFF;
}

#response {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow-wrap: break-word; /* Allow long text to wrap */
}

/* Error color for the response */
#response.color-red {
    color: red;
}

.queryParamsSection {
    margin-top: 20px;
}

.queryKey, .queryValue {
    margin-right: 10px;
}

