/*Created By: Ian Wilson*/
/*October 25th, 2023*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.page-area {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#page-title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="radio"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
}

.primary-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-button {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secondary-button:hover {
    background-color: #b3b3b3;
}


.primary-button:hover {
    background-color: #0056b3;
}

#response {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.success-response {
    color: green;
}

.error-response {
    color: red;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

li:nth-child(odd) {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 3px;
}

li:hover {
    background-color: #e8e8e8;
}

li {
    margin-bottom: 10px;
}


h4 {
    margin-bottom: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
